---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import fetchApi from "../../../lib/strapi";
import TagComponent from "../../../components/Tag.astro";
import PublishDate from "../../../components/PublishDate.astro";
import type Tag from "../../../interfaces/tag";
import type Publication from "../../../interfaces/publication";

export async function getStaticPaths() {
  const tags = await fetchApi<Tag[]>({
    endpoint: "tags",
    wrappedByKey: "data",
    query: {
      // @ts-expect-error
      populate: ["posts", "posts.featuredImage", "posts.tags"],
      // @ts-expect-error
      pagination: {
        pageSize: 9999,
      },
    },
  });

  return tags.map((tag: Tag) => ({
    params: { slug: tag.attributes?.slug },
    props: tag,
  }));
}
type Props = Tag;

const tag = Astro.props;
---

<BaseLayout>
  <h2
    class="mb-6 text-2xl font-bold text-center md:mb-10 lg:mb-20 md:text-3xl lg:text-4xl font-display"
  >
    #{tag.attributes?.title}
  </h2>
  <section class="max-w-screen-lg px-4 mx-auto mb-20">
    <ul class="space-y-14 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      {
        tag.attributes?.posts.data
          ?.sort(
            (a, b) =>
              +new Date(b.attributes.publishedAt) -
              +new Date(a.attributes.publishedAt)
          )
          .map((publication: Publication) => (
            <li class="leading-none">
              {publication.attributes?.featuredImage.data &&
                publication.attributes?.featuredImage.data.attributes?.url && (
                  <a
                    href={`/news/${publication.attributes?.slug}/`}
                    class="inline-block aspect-[9/7] mb-5 lg:mb-4"
                  >
                    <img
                      class="object-cover w-full h-full text-xl font-display"
                      alt={
                        publication.attributes?.featuredImage.data.attributes
                          .caption ?? "image"
                      }
                      src={
                        import.meta.env.STRAPI_URL +
                        publication.attributes?.featuredImage.data.attributes
                          ?.url
                      }
                      loading="lazy"
                    />
                  </a>
                )}
              <a
                href={`/publications/${publication.attributes?.slug}/`}
                class="block"
              >
                <h2 class="text-xl font-display">
                  {publication.attributes?.title}
                </h2>
              </a>
              <div class="mt-3">
                <PublishDate date={publication.attributes?.publishedAt} />
              </div>
              {publication.attributes?.tags.data &&
                publication.attributes?.tags.data.length > 0 && (
                  <ul class="flex flex-wrap gap-4 mt-3">
                    {publication.attributes?.tags.data.map((tag) => (
                      <li>
                        <TagComponent
                          label={tag.attributes?.title}
                          url={`/news/tag/${tag.attributes?.slug}`}
                        />
                      </li>
                    ))}
                  </ul>
                )}
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
