---
import BaseLayout from "../layouts/BaseLayout.astro";
import CkContent from "../components/CkContent.astro";
import fetchApi from "../lib/strapi";

import type PrivacyPolicyPage from "../interfaces/privacy-page";

const privacyPolicyPageData = await fetchApi<PrivacyPolicyPage>({
  endpoint: "privacy-policy-page",
  wrappedByKey: "data",
  query: {
    // @ts-ignore
    populate: [
      "deep",
      "content",
      "seo",
      "seo.title",
      "seo.description",
      "seo.canonical",
      "seo.ogTitle",
      "seo.ogDescription",
      "seo.ogImage",
      "seo.twitterTitle",
      "seo.twitterDescription",
      "seo.twitterImage",
    ],
  },
});

const seoData = {
  title: privacyPolicyPageData?.attributes?.seo?.title,
  titleDefault: "EM GUIDE",
  titleTemplate: "%s – Music Magazine Network",
  description: privacyPolicyPageData?.attributes?.seo?.description,
  canonical: privacyPolicyPageData?.attributes?.seo?.canonical ?? "",
  openGraph: {
    basic: {
      title: privacyPolicyPageData?.attributes?.seo?.ogTitle ?? "EM GUIDE",
      type: "website",
      image: privacyPolicyPageData?.attributes?.seo?.ogImage?.data?.attributes
        ?.url
        ? `${import.meta.env.PUBLIC_ASSET_URL}${privacyPolicyPageData?.attributes?.seo?.ogImage?.data?.attributes?.url}`
        : `${Astro.site}placeholder_og.png`,
      url: privacyPolicyPageData?.attributes?.seo?.canonical ?? "",
    },
    optional: {
      description:
        privacyPolicyPageData?.attributes?.seo?.ogDescription ??
        privacyPolicyPageData?.attributes?.seo?.description,
    },
    image: {
      secureUrl: privacyPolicyPageData?.attributes?.seo?.ogImage?.data
        ?.attributes?.url
        ? `${import.meta.env.PUBLIC_ASSET_URL}${privacyPolicyPageData?.attributes?.seo?.ogImage?.data?.attributes?.url}`
        : `${Astro.site}placeholder_og.png`,
    },
  },
  twitter: {
    card: "summary_large_image",
    title:
      privacyPolicyPageData?.attributes?.seo?.twitterTitle ??
      privacyPolicyPageData?.attributes?.seo?.title,
    description:
      privacyPolicyPageData?.attributes?.seo?.twitterDescription ??
      privacyPolicyPageData?.attributes?.seo?.description,
    image: privacyPolicyPageData?.attributes?.seo?.twitterImage?.data
      ? `${import.meta.env.PUBLIC_ASSET_URL}${privacyPolicyPageData?.attributes?.seo?.twitterImage?.data?.attributes?.url}`
      : `${Astro.site}placeholder_tw.png`,
  },
};
---

<BaseLayout seoData={seoData}>
  <section class="max-w-screen-lg px-4 mx-auto mb-20">
    <CkContent content={privacyPolicyPageData?.attributes?.content} />
  </section>
</BaseLayout>
