---
import { createPngDataUri } from "unlazy/blurhash";
import BaseLayout from "../layouts/BaseLayout.astro";
import Filter from "../components/Filter.astro";
import PublishDate from "../components/PublishDate.astro";
import Tag from "../components/Tag.astro";
import type NewsPage from "../interfaces/news-page";
import fetchApi from "../lib/strapi";
import type Publication from "../interfaces/publication";

const news = await fetchApi<Publication[]>({
  endpoint: "posts", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
  query: {
    // @ts-ignore
    sort: {
      publishedAt: "desc",
    },
    // @ts-ignore
    populate: ["featuredImage", "tags"],
    // @ts-ignore
    pagination: {
      pageSize: 100,
    },
  }, // any query params to include
});

const newsPageData = await fetchApi<NewsPage>({
  endpoint: "news-page",
  wrappedByKey: "data",
  query: {
    // @ts-ignore
    populate: [
      "featuredTags",
      "seo",
      "seo.title",
      "seo.description",
      "seo.canonical",
      "seo.ogTitle",
      "seo.ogDescription",
      "seo.ogImage",
      "seo.twitterTitle",
      "seo.twitterDescription",
      "seo.twitterImage",
    ],
  },
});

const newsWithBlurhash = news?.map((item) => {
  // Check if the featuredImage and its data exist
  if (item.attributes?.featuredImage?.data) {
    // Create the PNG data URI from the blurhash
    const blurhashDataUri = item.attributes.featuredImage.data.attributes
      .blurhash
      ? createPngDataUri(item.attributes.featuredImage.data.attributes.blurhash)
      : undefined;

    // Return a new object with the updated blurhash property
    return {
      ...item,
      attributes: {
        ...item.attributes,
        featuredImage: {
          ...item.attributes.featuredImage,
          data: {
            ...item.attributes.featuredImage.data,
            attributes: {
              ...item.attributes.featuredImage.data.attributes,
              blurhash: blurhashDataUri,
            },
          },
        },
      },
    };
  }
  // If the featuredImage or its data does not exist, return the item as is
  return item;
});

const seoData = {
  title: newsPageData?.attributes?.seo?.title,
  titleDefault: "EM GUIDE",
  titleTemplate: "%s – Music Magazine Network",
  description: newsPageData?.attributes?.seo?.description,
  canonical: newsPageData?.attributes?.seo?.canonical ?? "",
  openGraph: {
    basic: {
      title: newsPageData?.attributes?.seo?.ogTitle ?? "EM GUIDE",
      type: "website",
      image: newsPageData?.attributes?.seo?.ogImage?.data?.attributes?.url
        ? `${import.meta.env.PUBLIC_ASSET_URL}${newsPageData?.attributes?.seo?.ogImage?.data?.attributes?.url}`
        : `${Astro.site}placeholder_og.png`,
      url: newsPageData?.attributes?.seo?.canonical ?? "",
    },
    optional: {
      description:
        newsPageData?.attributes?.seo?.ogDescription ??
        newsPageData?.attributes?.seo?.description,
    },
    image: {
      secureUrl: newsPageData?.attributes?.seo?.ogImage?.data?.attributes?.url
        ? `${import.meta.env.PUBLIC_ASSET_URL}${newsPageData?.attributes?.seo?.ogImage?.data?.attributes?.url}`
        : `${Astro.site}placeholder_og.png`,
    },
  },
  twitter: {
    card: "summary_large_image",
    title:
      newsPageData?.attributes?.seo?.twitterTitle ??
      newsPageData?.attributes?.seo?.title,
    description:
      newsPageData?.attributes?.seo?.twitterDescription ??
      newsPageData?.attributes?.seo?.description,
    image: newsPageData?.attributes?.seo?.twitterImage?.data
      ? `${import.meta.env.PUBLIC_ASSET_URL}${newsPageData?.attributes?.seo?.twitterImage?.data?.attributes?.url}`
      : `${Astro.site}placeholder_tw.png`,
  },
};
---

<BaseLayout seoData={seoData}>
  <section class="max-w-screen-lg px-4 mx-auto mb-20">
    <ul class="flex flex-wrap gap-3 mb-14">
      {
        newsPageData?.attributes?.featuredTags?.data.length > 0 &&
          newsPageData?.attributes?.featuredTags?.data.map((data) => (
            <li>
              <Filter
                label={data.attributes?.title}
                value={`/tag/${data.attributes?.slug}`}
              />
            </li>
          ))
      }
    </ul>
    <ul class="space-y-14 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      {
        newsWithBlurhash?.length > 0 &&
          newsWithBlurhash.map((publication: Publication) => (
            <li class="leading-none">
              <a href={`/news/${publication.attributes?.slug}/`} class="group">
                {publication.attributes?.featuredImage?.data && (
                  <div class="inline-block aspect-[9/7] mb-5 lg:mb-4 w-full">
                    <img
                      class="object-cover w-full h-full text-xl font-display group-hover:opacity-95 duration-100 ease-in-out transition-opacity"
                      width={
                        publication.attributes?.featuredImage.data?.attributes
                          .width
                      }
                      height={
                        publication.attributes?.featuredImage.data?.attributes
                          .height
                      }
                      alt={
                        publication.attributes?.featuredImage.data?.attributes
                          .caption ?? "image"
                      }
                      src={
                        publication.attributes?.featuredImage.data?.attributes
                          .blurhash
                      }
                      data-src={`${import.meta.env.PUBLIC_ASSET_URL}${
                        publication.attributes?.featuredImage.data?.attributes
                          ?.url
                      }`}
                      data-srcset={
                        `${import.meta.env.PUBLIC_ASSET_URL}${publication.attributes.featuredImage.data.attributes.formats.thumbnail.url} ${publication.attributes.featuredImage.data.attributes.formats.thumbnail.width}w, ` +
                        `${import.meta.env.PUBLIC_ASSET_URL}${publication.attributes.featuredImage.data.attributes.formats.small.url} ${publication.attributes.featuredImage.data.attributes.formats.small.width}w, ` +
                        `${publication.attributes?.featuredImage.data?.attributes.formats.medium?.url ? `${import.meta.env.PUBLIC_ASSET_URL}${publication.attributes.featuredImage.data.attributes.formats.medium.url} ${publication.attributes.featuredImage.data.attributes.formats.medium.width}w, ` : ""}` +
                        `${publication.attributes?.featuredImage.data?.attributes.formats.large?.url ? `${import.meta.env.PUBLIC_ASSET_URL}${publication.attributes.featuredImage.data.attributes.formats.large.url} ${publication.attributes.featuredImage.data.attributes.formats.large.width}w, ` : ""}` +
                        `${publication.attributes?.featuredImage.data?.attributes.formats.xlarge?.url ? `${import.meta.env.PUBLIC_ASSET_URL}${publication.attributes.featuredImage.data.attributes.formats.xlarge.url} ${publication.attributes.featuredImage.data.attributes.formats.xlarge.width}w` : ""}`
                      }
                      data-sizes="auto"
                      loading="lazy"
                    />
                  </div>
                )}
                <div class="block">
                  <h2 class="text-xl font-display group-hover:text-accent duration-100 ease-in-out transition-colors">
                    {publication.attributes?.title}
                  </h2>
                </div>
              </a>
              <div class="mt-3">
                <PublishDate date={publication.attributes?.publishedAt} />
              </div>
              {publication.attributes?.tags.data &&
                publication.attributes?.tags.data.length > 0 && (
                  <ul class="flex flex-wrap gap-4 mt-3">
                    {publication.attributes?.tags.data.map((tag) => (
                      <li>
                        <Tag
                          label={tag.attributes?.title}
                          url={`/tag/${tag.attributes?.slug}`}
                        />
                      </li>
                    ))}
                  </ul>
                )}
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
