---
import BaseLayout from "../layouts/BaseLayout.astro";
import CkContent from "../components/CkContent.astro";
import fetchApi from "../lib/strapi";
import { SEO } from "astro-seo";

import type PrivacyPolicyPage from "../interfaces/privacy-page";

const privacyPolicyPageData = await fetchApi<PrivacyPolicyPage>({
  endpoint: "privacy-policy-page",
  wrappedByKey: "data",
  query: {
    // @ts-ignore
    populate: [
      "deep",
      "content",
      "seo",
      "seo.title",
      "seo.description",
      "seo.canonical",
      "seo.ogTitle",
      "seo.ogDescription",
      "seo.ogImage",
      "seo.twitterTitle",
      "seo.twitterDescription",
      "seo.twitterImage",
    ],
  },
});
---

<BaseLayout>
  {
    privacyPolicyPageData && privacyPolicyPageData.attributes?.seo && (
      <SEO
        title={privacyPolicyPageData?.attributes?.seo?.title}
        titleDefault="EM Guide"
        titleTemplate="%s — EM Guide"
        description={privacyPolicyPageData?.attributes?.seo?.description}
        canonical={privacyPolicyPageData?.attributes?.seo?.canonical ?? ""}
        openGraph={{
          basic: {
            title:
              privacyPolicyPageData?.attributes?.seo?.ogTitle ??
              privacyPolicyPageData?.attributes?.seo?.title,
            type: "website",
            image: privacyPolicyPageData?.attributes?.seo?.ogImage?.data
              ?.attributes?.url
              ? `${import.meta.env.PUBLIC_ASSET_URL}${privacyPolicyPageData?.attributes?.seo?.ogImage?.data?.attributes?.url}`
              : "",
            url: privacyPolicyPageData?.attributes?.seo?.canonical ?? "",
          },
          optional: {
            description:
              privacyPolicyPageData?.attributes?.seo?.ogDescription ??
              privacyPolicyPageData?.attributes?.seo?.description,
          },
        }}
        twitter={{
          card: "summary_large_image",
          title:
            privacyPolicyPageData?.attributes?.seo?.twitterTitle ??
            privacyPolicyPageData?.attributes?.seo?.title,
          description:
            privacyPolicyPageData?.attributes?.seo?.twitterDescription ??
            privacyPolicyPageData?.attributes?.seo?.description,
          image:
            `${import.meta.env.PUBLIC_ASSET_URL}${privacyPolicyPageData?.attributes?.seo?.twitterImage?.data?.attributes?.url}` ??
            "",
        }}
      />
    )
  }
  <section class="container px-4 mx-auto mb-20">
    <CkContent content={privacyPolicyPageData?.attributes?.content} />
  </section>
</BaseLayout>
