---
import BaseLayout from "../layouts/BaseLayout.astro";
import Filter from "../components/Filter.astro";
import Tag from "../components/Tag.astro";
import type PublicationsPage from "../interfaces/publications-page";
import { SEO } from "astro-seo";

const filters = [
  {
    label: "test",
    value: "/publications/tag/Caveo-70227b9d-777e-42b8-b6ab-360d5fbd4b2d",
  },
  {
    label: "cool",
    value: "/publications/tag/Caveo-70227b9d-777e-42b8-b6ab-360d5fbd4b2d",
  },
  {
    label: "what",
    value: "/publications/tag/Caveo-70227b9d-777e-42b8-b6ab-360d5fbd4b2d",
  },
  {
    label: "lets go",
    value: "/publications/tag/Caveo-70227b9d-777e-42b8-b6ab-360d5fbd4b2d",
  },
];

import fetchApi from "../lib/strapi";
import type Publication from "../interfaces/publication";

const publications = await fetchApi<Publication[]>({
  endpoint: "publications", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
  query: {
    // @ts-ignore
    populate: ["featuredImage", "tags"],
    // @ts-ignore
    pagination: {
      pageSize: 100,
    },
  }, // any query params to include
});

const publicationsPageData = await fetchApi<PublicationsPage>({
  endpoint: "publications-page",
  wrappedByKey: "data",
  query: {
    // @ts-ignore
    populate: [
      "seo",
      "seo.title",
      "seo.description",
      "seo.canonical",
      "seo.ogTitle",
      "seo.ogDescription",
      "seo.ogImage",
      "seo.twitterTitle",
      "seo.twitterDescription",
      "seo.twitterImage",
    ],
  },
});
---

<BaseLayout>
  {
    publicationsPageData && (
      <SEO
        title={publicationsPageData?.attributes.seo.title}
        description={publicationsPageData?.attributes.seo.description}
        canonical={publicationsPageData?.attributes.seo.canonical ?? ""}
        openGraph={{
          basic: {
            title:
              publicationsPageData?.attributes.seo.ogTitle ??
              publicationsPageData?.attributes.seo.title,
            type: "website",
            image:
              `${import.meta.env.PUBLIC_ASSET_URL}${publicationsPageData?.attributes.seo.ogImage?.data.attributes.url}` ??
              "",
            url: publicationsPageData?.attributes.seo.canonical ?? "",
          },
          optional: {
            description:
              publicationsPageData?.attributes.seo.ogDescription ??
              publicationsPageData?.attributes.seo.description,
          },
        }}
        twitter={{
          card: "summary_large_image",
          title:
            publicationsPageData?.attributes.seo.twitterTitle ??
            publicationsPageData?.attributes.seo.title,
          description:
            publicationsPageData?.attributes.seo.twitterDescription ??
            publicationsPageData?.attributes.seo.description,
          image:
            `${import.meta.env.PUBLIC_ASSET_URL}${publicationsPageData?.attributes.seo.twitterImage?.data.attributes.url}` ??
            "",
        }}
      />
    )
  }
  <section class="container px-4 mx-auto">
    <ul class="flex flex-wrap gap-3 mb-14">
      {
        filters?.length > 0 &&
          filters.map((data) => (
            <li>
              <Filter label={data.label} value={data.value} />
            </li>
          ))
      }
    </ul>
    <ul class="space-y-14 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      {
        publications?.length > 0 &&
          publications.map((publication: Publication) => (
            <li class="leading-none">
              <a
                href={`/publications/${publication.attributes.slug}/`}
                class="inline-block aspect-[9/7] mb-5 lg:mb-4 w-full"
              >
                <img
                  class="object-cover w-full h-full text-xl font-display"
                  alt={
                    publication.attributes.featuredImage.data?.attributes
                      .caption ?? "image"
                  }
                  src={`${import.meta.env.PUBLIC_ASSET_URL}${
                    publication.attributes.featuredImage.data?.attributes.url
                  }`}
                  loading="lazy"
                />
              </a>
              <a
                href={`/publications/${publication.attributes.slug}/`}
                class="block"
              >
                <h2 class="text-xl font-display">
                  {publication.attributes.title}
                </h2>
              </a>
              {publication.attributes.tags.data &&
                publication.attributes.tags.data.length > 0 && (
                  <ul class="flex flex-wrap gap-4 mt-5 lg:mt-4">
                    {publication.attributes.tags.data.map((tag) => (
                      <li>
                        <Tag label={tag.attributes.title} />
                      </li>
                    ))}
                  </ul>
                )}
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
