---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import fetchApi from "../../lib/strapi";
import type Publication from "../../interfaces/publication";
import { SEO } from "astro-seo";

export async function getStaticPaths() {
  const publications = await fetchApi<Publication[]>({
    endpoint: "publications",
    wrappedByKey: "data",
    query: {
      // @ts-ignore
      populate: ["deep"],
      // populate: "*"
    },
  });

  return publications.map((publication: Publication) => ({
    params: { slug: publication.attributes.slug },
    props: publication,
  }));
}
type Props = Publication;

const publication = Astro.props;
---

<BaseLayout>
  <SEO
    title={publication?.attributes.title}
    description={publication?.attributes.excerpt}
    canonical={`${Astro.site}/publications/${publication?.attributes.slug}`}
    openGraph={{
      basic: {
        title: publication?.attributes.title,
        type: "article",
        image:
          `${import.meta.env.PUBLIC_ASSET_URL}${publication?.attributes.featuredImage.data.attributes.url}` ??
          "",
        url: `${Astro.site}/publications/${publication?.attributes.slug}`,
      },
      optional: {
        description: publication?.attributes.excerpt,
      },
    }}
    twitter={{
      card: "summary_large_image",
      title: publication?.attributes.title,
      description: publication?.attributes.excerpt,
      image:
        `${import.meta.env.PUBLIC_ASSET_URL}${publication?.attributes.featuredImage.data.attributes.url}` ??
        "",
    }}
  />
  <section class="container px-4 mx-auto">
    <h1 class="mb-8 text-2xl font-bold font-display lg:text-4xl">
      {publication.attributes.title}
    </h1>
    {
      publication.attributes.tags?.data.length > 0 && (
        <div class="flex flex-wrap gap-x-5 gap-y-2.5 mb-8">
          {publication.attributes.tags?.data.map((tag) => (
            <Tag
              label={tag.attributes.title}
              url={`/publications/tag/${tag.attributes.slug}`}
            />
          ))}
        </div>
      )
    }
    {
      publication.attributes.featuredImage?.data.attributes.url && (
        <div class="relative aspect-[358/280] lg:aspect-[1120/713.37] mb-14">
          <img
            class="absolute top-0 left-0 inline-block object-cover w-full h-full"
            src={
              import.meta.env.STRAPI_URL +
              publication.attributes.featuredImage?.data.attributes.url
            }
            alt={
              publication.attributes.featuredImage?.data.attributes
                .alternativeText
            }
          />
          <svg
            class="absolute block object-cover w-full h-full text-accent lg:hidden"
            viewBox="0 0 358 280"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M358 239.543C358 274.769 313.048 299.45 277.61 258.94V178L176 280H358V239.543Z"
              fill="currentColor"
            />
            <path
              d="M20.9975 0H0V176L96 80.2498H40.3633C5.24268 80.2498 -19.3658 35.4028 20.9975 0Z"
              fill="currentColor"
            />
          </svg>

          <svg
            class="absolute hidden object-cover w-full h-full text-accent lg:block"
            viewBox="0 0 1120 714"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1120 609.335C1120 699.916 1003.67 763.385 911.958 659.214V451.077L649 713.369H1120V609.335Z"
              fill="currentColor"
            />
            <path
              d="M54.293 0H0V455.113L248.226 207.515H104.367C13.5559 207.515 -50.074 91.5468 54.293 0Z"
              fill="currentColor"
            />
          </svg>
        </div>
      )
    }
    {
      publication.attributes.content.map((component) => {
        if (component.__component === "static.wysiwyg") {
          return (
            <div
              class="[&>p]:text-xl [&>p]:mb-4 [&>h3]:mb-4 [&>h3]:font-display [&>h3]:font-bold [&>h3]:text-xl"
              set:html={component.content}
            />
          );
        }
        if (component.__component === "static.images-with-decoration") {
          return (
            component.images.data?.length > 0 && (
              <div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-saw-long-background bg-no-repeat">
                {component.images.data.map((image) => (
                  <div class="inline-block mb-8 aspect-[544/362]">
                    <img
                      src={import.meta.env.STRAPI_URL + image.attributes.url}
                      alt={image.attributes.alternativeText}
                      class="w-full h-full object-contain"
                    />
                  </div>
                ))}
              </div>
            )
          );
        }
      })
    }
    <!-- <div
      class="[&>p]:text-xl [&>p]:mb-4 [&>h3]:mb-4 [&>h3]:font-display [&>h3]:font-bold [&>h3]:text-xl"
    >
      <p>
        Etiam ornare, lectus sed blandit pulvinar, nisl elit efficitur augue,
        vel aliquam sapien mi et tortor. Vestibulum lacinia pellentesque orci
        non tempor. Sed auctor imperdiet tempus. Fusce a purus nisl. Morbi
        tristique congue luctus. Quisque quis scelerisque tellus, sagittis
        auctor nulla. Aenean luctus posuere odio non placerat. Nullam eleifend
        maximus urna eu vestibulum. Quisque id sollicitudin turpis. Donec
        ullamcorper elementum interdum. Nam sagittis id felis id luctus.
      </p><p>
        Morbi semper urna vitae augue varius, a semper elit interdum. Donec
        auctor risus quam, ut volutpat enim semper ut. Mauris euismod auctor
        arcu, blandit posuere risus commodo ac. Nulla sit amet commodo sapien.
        Nullam urna lacus, vehicula vitae neque sit amet, mattis molestie enim.
        Sed rhoncus sodales porttitor. In laoreet volutpat arcu a accumsan.
        Curabitur vulputate lectus tortor, ac feugiat eros interdum sed. Nulla
        fringilla nunc vel nisi cursus, ut laoreet justo bibendum. Etiam vel
        interdum magna. Curabitur commodo, mauris non eleifend maximus, elit
        augue commodo augue, ac feugiat massa sapien eu turpis
      </p><p>
        Nulla at quam non odio venenatis commodo. Sed rutrum orci vel diam
        eleifend fringilla. Etiam vitae lacinia massa. Vestibulum est libero,
        gravida a ex id, lacinia sollicitudin ex. Phasellus eu imperdiet odio,
        sed semper libero. Curabitur sed ligula lobortis, fermentum justo nec,
        consectetur felis. Pellentesque nulla ante, hendrerit vitae massa non,
        egestas porttitor orci. Morbi dignissim feugiat ornare. Mauris tristique
        sed diam quis facilisis. Quisque nibh mauris, pellentesque vitae lectus
        ac, elementum lacinia arcu. Nam non auctor neque, vitae aliquet sem.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean
        vitae cursus magna. Aliquam erat volutpat. Sed volutpat, nulla sit amet
        lobortis hendrerit, magna nisl hendrerit quam, ut imperdiet turpis
        mauris a nunc. Mauris eget dignissim erat, vel dictum tellus.
      </p>
      <p></p>
      <img
        src="https://picsum.photos/544/346"
        alt=""
        class="inline-block mb-8"
      />
      <p></p>
      <blockquote class="px-2 py-2.5 bg-accent font-display text-xl mb-4">
        <p>Nulla at quam non odio venenatis</p>
      </blockquote>
      <h3>
        Etiam ornare, lectus sed blandit pulvinar, nisl elit efficitur augue,
        vel aliquam sapien mi et tortor?
      </h3><p>
        <strong><em>Vestibulum:</em></strong><em>
          Lacinia pellentesque orci non tempor. Sed auctor imperdiet tempus.
          Fusce a purus nisl. Morbi tristique congue luctus. Quisque quis
          scelerisque tellus, sagittis auctor nulla. Aenean luctus posuere odio
          non placerat. Nullam eleifend maximus urna eu vestibulum. Quisque id
          sollicitudin turpis. Donec ullamcorper elementum interdum. Nam
          sagittis id felis id luctus.
        </em>
      </p><p>
        <strong><em>Morbi semper:</em></strong><em>
          urna vitae augue varius, a semper elit interdum. Donec auctor risus
          quam, ut volutpat enim semper ut.</em
        >
      </p><p>
        Mauris euismod auctor arcu, blandit posuere risus commodo ac. Nulla sit
        amet commodo sapien. Nullam urna lacus, vehicula vitae neque sit amet,
        mattis molestie enim. Sed rhoncus sodales porttitor. In laoreet volutpat
        arcu a accumsan. Curabitur vulputate lectus tortor, ac feugiat eros
        interdum sed. Nulla fringilla nunc vel nisi cursus, ut laoreet justo
        bibendum. Etiam vel interdum magna. Curabitur commodo, mauris non
        eleifend maximus, elit augue commodo augue, ac feugiat massa sapien eu
        turpis.
      </p><h3>
        Nulla at quam non odio venenatis commodo. Sed rutrum orci vel diam
        eleifend fringilla. Etiam vitae lacinia massa?
      </h3><p>
        <strong><em>Vestibulum:</em></strong><em>
          est libero, gravida a ex id, lacinia sollicitudin ex. Phasellus eu
          imperdiet odio, sed semper libero. Curabitur sed ligula lobortis,
          fermentum justo nec, consectetur felis. Pellentesque nulla ante,
          hendrerit vitae massa non, egestas porttitor orci. Morbi dignissim
          feugiat ornare. Mauris tristique sed diam quis facilisis. Quisque nibh
          mauris, pellentesque vitae lectus ac, elementum lacinia arcu. Nam non
          auctor neque, vitae aliquet sem. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Aenean vitae cursus magna. Aliquam erat
          volutpat. Sed volutpat, nulla sit amet lobortis hendrerit, magna nisl
          hendrerit quam, ut imperdiet turpis mauris a nunc. Mauris eget
          dignissim erat, vel dictum tellus.</em
        >
      </p><p>
        Donec eu purus malesuada, vulputate neque vestibulum, iaculis nunc.
        Aenean gravida nibh nisi, at rhoncus libero rhoncus in. Mauris a gravida
        elit. Vivamus non sollicitudin metus. Proin interdum, neque vel
        sollicitudin sagittis, ipsum leo tincidunt nibh, eget sagittis tellus
        ante tempor leo. Morbi et malesuada felis.
      </p><p></p>
    </div> -->
  </section>
</BaseLayout>
