---
import { createPngDataUri } from "unlazy/blurhash";
import type StrapiImage from "../interfaces/image";

interface Props {
  text: string;
  image: StrapiImage;
}

const { text, image } = Astro.props as Props;

image.attributes.blurhash = image.attributes.blurhash
  ? createPngDataUri(image.attributes.blurhash)
  : image.attributes.blurhash;
---

<div class="grid grid-cols-12">
  <div
    class="bg-dark py-16 px-12 text-xl md:text-2xl font-display text-accent col-span-12 lg:col-span-4"
    set:html={text}
  />
  <div class="col-span-12 lg:col-span-8 w-auto">
    <img
      class="w-full h-full object-cover"
      style="aspect-ratio: 544/362;"
      width={image.attributes.width}
      height={image.attributes.height}
      alt={image.attributes.caption ?? "image"}
      src={image.attributes.blurhash}
      data-src={`${import.meta.env.PUBLIC_ASSET_URL}${image.attributes?.url}`}
      data-srcset={`${import.meta.env.PUBLIC_ASSET_URL}${image.attributes.formats.thumbnail.url} 234w, ` +
        `${import.meta.env.PUBLIC_ASSET_URL}${image.attributes.formats.small.url} 500w, ` +
        `${image.attributes.formats.medium?.url ? `${import.meta.env.PUBLIC_ASSET_URL}${image.attributes.formats.medium.url} 750w, ` : ""}` +
        `${image.attributes.formats.large?.url ? `${import.meta.env.PUBLIC_ASSET_URL}${image.attributes.formats.large.url} 1000w` : ""}`}
      loading="lazy"
    />
  </div>
</div>
